{
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "plugins": [
        "react"
    ],
    "parserOptions": {
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "rules": {
        "no-console": [
            "error", {
                "allow": ["log"]
            }
        ]
    }
}
