@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.selected {
  height: 100vw;
  background: url("stickyNotes.jpg") no-repeat center center fixed;
  background-size: cover;
}

.holaLogo {
  margin-left: 26%;
  margin-top: 4%;
  width: 15%
}

.holaLogo2 {
  margin-left: 50%;
  margin-top: 8%;
  width: 15%
}

h1 {
  font-family: 'Krub', sans-serif;
}

.drawer{
  background-color: white;
   border-left: 6px solid lightblue;
  height: 700px;
  width: 320px;
  position: fixed;
  right: 0.5px;
  top: 0.5px;
  bottom: 0.5px;

}
.title{
  position:absolute;
  right: 450px;
  top: 10px;
}
.calendar {
  border: solid 1px #777;
  width: 320px;
  frameborder: "0";
  scrolling: "no";
  max-height: 700px;
  min-height: 400px;
}
.tickets {
  border: solid 1px #777;
  width: 395px;
  max-height: 700px;
  min-height: 220px;
}
.rowNoFlex{
  margin-top: 8vw;
}
.app-bar {
  background-color: transparent !important;
}

.app-bar h1{
  color: rgb(243, 9, 233) !important;
}
