@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.selected {
  height: 100vw;
  background: url("stickyNotes.jpg") no-repeat center center fixed;
  background-size: cover;
}

.holaLogo {
<<<<<<< HEAD
  margin-left: 30%;
=======
  margin-left: 26%;
>>>>>>> master
  margin-top: 4%;
  width: 15%
}

.holaLogo2 {
  margin-left: 50%;
  margin-top: 8%;
  width: 15%
}

h1 {
  font-family: 'Krub', sans-serif;
}
<<<<<<< HEAD
.drawer{
  background-color: white;
   border-left: 6px solid lightblue;
  height: 800px;
  width: 400px;
  position: fixed;
  right: 0.5px;
  top: 0.5px;
  bottom: 0.5px;
  overflow: scroll;

}
.title{
  position:absolute;
  right: 450px;
  top: 10px;
}
.calendar {
  border: solid 1px #777;
  width: 395px;
  frameborder: "0";
  scrolling: "no";
  max-height: 700px;
  min-height: 400px;
}
.tickets {
  border: solid 1px #777;
  width: 395px;
  max-height: 700px;
  min-height: 220px;
=======

.calendar {
  border-width:0;
  width: 500vw;
  height: 900vw;
  frameborder: 0;
  scrolling: no;
}

.styles_modal__gNwvD {
  height: 35vw;
  width: 80vw;
}

iframe {
  width: 65vw;
  min-height: 35vw;
}

.rowNoFlex {
  margin-top: 8vw;
}

.app-bar {
  background-color: transparent !important;
}

.app-bar h1{
  color: rgb(243, 9, 233) !important;
>>>>>>> master
}
