@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

@font-face {
  font-family: 'archer';
  src: url('../ARCHER.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;

}

.selected {
  height: 100vw;
  background: url("stickyNotes.jpg") no-repeat center center fixed;
  background-size: cover;
}

.holaLogo {
  margin-left: 26%;
  margin-top: 4%;
  width: 15%
}

.holaLogo2 {
  margin-left: 50%;
  margin-top: 8%;
  width: 15%
}

h1 {
  font-family: 'archer' !important;
  font-size: 3.5em;
  margin-top: 4vw;
}
.buttonUser{
  margin-left: 90vw;
}

.buttonUser1{
  margin-left: 95vw;
}
#messages{
  background-image: url("Background.jpg");
  margin-left: 1vw;
}

.drawer{
  background-color: white;
   border: 1px solid #BFBFBF;
  height: 645px;
  width: 320px;
  position: fixed;
  right: 0.5px;
  top: 50px;
  bottom: 5px;
  box-shadow: 10px 6px 20px #aaaaaa;

}
.title{
  position:absolute;
  right: 450px;
  top: 10px;
}
.calendar {
  width: 300px;
  position: absolute;
  top: 75px;
  right: 7px;
  max-height: 600px;
  min-height: 400px;
  border-color: coral;
}
.tickets {
  border: solid 1px #777;
  width: 395px;
  max-height: 700px;
  min-height: 220px;
}
.rowNoFlex{
  margin-top: 8vw;
}
.app-bar {
  background-color: transparent !important;
}

.app-bar h1{
  color: rgb(243, 9, 233) !important;
}

.buttons{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  right: 180px;
  top: 500px;
  background-color: rgb(132, 11, 126);
  font-size:20px;
  font-family: 'Mandali';
}
.button1{
  position: absolute;
  right: 40px;
  top: 500px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
background-color: rgb(132, 11, 126);
font-size:17px;
font-family: 'Mandali';

}

.sidebartitle{
  background-color: white;
  box-shadow: 1px 0.5px 6px #aaaaaa;
  height: 60px;

}
.tool{
  text-align: center;
  color: rgb(243, 9, 233);
  font-family: 'Mandali';
}
.textcolor{
  color: white;
}
button:hover {
  background-color: #99ff66;
 }
button:active {
  background-color:  #3385ff; color: White;
  box-shadow: 20px 10px #aaaaaa;
}
.head{
  background-color: LightBlue;
  height: 45px;
  box-shadow: 1px 0.5px 6px #aaaaaa;
}
.userId{
  position: absolute;
  right: 50px;
}
.userbutton{
  position: absolute;
  right: 50px;
  top: 20px;
  border-radius: 15%;
  background-color: rgb(132, 11, 126);
  color: white;
}
