@import url('https://fonts.googleapis.com/css?family=Lato');

html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
}

.rowNoFlex {
  display: flex;
}
.rowLine {
  display: inline-grid;
}

.Subtitle {
  font-style: italic;
}

.calendar {
  border: solid 1px #777;
  width: 300px;
  frameborder: "0";
  scrolling: "no";
  max-height: 700px;
  min-height: 400px;
}

.tickets {
  border: solid 1px #777;
  width: 800px;
  frameborder: "0";
  scrolling: "no";
  max-height: 700px;
  min-height: 400px;
}

.footer {
  display: none;
}

.chatpic{
 height: 500px;
 width: 800px;
}
.propic{
 height: 100px;
 width: 100px;
 position: absolute;
   right: 10px;
   top: 60px;
 border-radius: 50%;
}

.chat {
  padding-top: 50px;
  padding-right: 200px;
  padding-bottom: 200px;
  padding-left: 200px;
}

.chatbox {
  background-color: gray;
}
